# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
KYHcalculatorV1/.vs/KYHcalculatorV1/v16/.suo
KYHcalculatorV1/.vs/KYHcalculatorV1/v16/Browse.VC.db
KYHcalculatorV1/.vs/KYHcalculatorV1/v16/ipch/AutoPCH/3ba1840db2c763b/KYHCALCULATORV1.ipch
KYHcalculatorV1/.vs/KYHcalculatorV1/v16/ipch/AutoPCH/4fedceea0d59b0f9/MAIN.ipch
KYHcalculatorV1/Bin/Debug/translations/qt_ar.qm
KYHcalculatorV1/Bin/
KYHcalculatorV1/Intermediate/
KYHcalculatorV1/KYHcalculatorV1/x64/
